<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <img src="~/Images/st-georges.jpg" /><br />
                </p>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Nouvelles", "Index", "Home")</li>
                        <li>@Html.ActionLink("Responsables", "Responsables", "Home")</li>
                        <li>Équipes</li>
                        <li>@Html.ActionLink("Rally cap", "rallycap", "Home")</li>
                        <li>Contactez-nous</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <br />
    <br />

    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    <footer>
        <div class="content-wrapper">
            <p>&copy; @DateTime.Now.Year - Association de baseball mineur de St-Georges.</p>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
